.socials {
  grid-column: 2 / 5;
  justify-self: end;

  display: flex;
  position: relative;
  gap: 0.75em;
  padding: 0.5em;
  padding-right: 1em;
  margin-top: 1.5em;

}

.socials li {
  display: grid;
  place-items: center;

  width: 3em;
  height: 3em;

  border-radius: 50%;
}

.socials li svg {
  width: 100%;
  height: 100%;
  fill: #7cadbb;
}

.socials li g {
  fill: hsl(194, 32%, 61%)
}
