.socials {
  grid-column: 2 / 5;
  justify-self: end;

  display: flex;
  position: relative;
  gap: 0.75em;
  padding: 0.5em;
  padding-right: 1em;
  margin-top: 1.5em;

}

.socials li {
  display: grid;
  place-items: center;

  width: 3em;
  height: 3em;

  border-radius: 50%;
  cursor: pointer;
}

.socials li svg {
  width: 100%;
  height: 100%;
  fill: var(--light-blue);
}

.socials li g {
  fill: var(--light-blue);
}
