.location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2em;
  position: relative;
  font-size: 0.8rem;
  grid-column: 2 / 5;
  width: 100%;

  margin-top: 1em;
  padding: 0.3em 0.5em;
  overflow: visible;
}


.location > div:nth-child(1) {
  position: relative;
  width: 1em;
  height: 1em;
  transform: translateY(-20%);
}

.location > div svg{
  width: 100%;
  height: 100%;
  fill: var(--green-primary);
}


@media (min-width: 35em) {
  .location {
    font-size: 0.9rem;
    grid-column: span 4;
    grid-row: 3 / 4;
    
    justify-self: start;
    margin-top: 1em;
  }
}
