.tagsContainer {
  display: flex;
  justify-content: space-evenly;

  max-width: 14em;
  margin: 0 auto;
}

.tagContainer {
  display: grid;
  place-items: center;
  width: 1.5em;
  height: 0.45em;
  border-radius: 22px;

  border: 1px solid #393939;
  transform: skew(-15deg);
}

.tagContainer div {
  background-color: #398197;
  width: 100%;
  height: 100%;
  border-radius: 22px;

  box-shadow: 0 0 13.1544px #398197, 0 0 3.7584px #398197, 0 0 1.8792px #398197;
}
