.picture {
  position: relative;
  grid-column: 1 / 4;
  justify-self: start;
  align-self: end;

  height: 11em;
  width: 11em;

  margin-left: 1em;
  border-radius: 50%;
}

.picture img {
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.7;
}

@media (min-width: 35em) {
  .picture {
    grid-column: 1 / 2;
    justify-self: end;
    align-self: start;
  }
}
