.container {
  position: absolute;
  top: 0;

  width: 100%;
  height: 5em;
  background: none;

  z-index: 100;
}

.inner {
  display: flex;
  justify-content: space-between;

  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1080px;

  padding: 1em 2em;
  margin: 0 auto;
}

.navLogo {
  position: relative;
  top: calc(50% - 1.5em);
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom right,
    var(--dark-blue),
    var(--darker-blue)
  );
}

.navLogo svg {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.navLogo svg g {
  fill: #bbb;
}

.navMenu {
  display: grid;
  place-items: center;
  position: relative;

  height: 100%;
  width: 60%;
}

.navMenu button {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;

  height: 4.5em;
  width: 4.5em;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 200 !important;
  border: none;
}

.navMenu button svg {
  width: 100%;
  height: 100%;
  outline: none;

}

.navMenu button svg path {
  fill: #ccc;
}

.navMenu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-art;

  position: absolute;
  top: 100%;
  width: 130%;
  padding: 2em 0;
  transform: translateY(1em) translateX(2.5em) skew(15deg);

  border-bottom-left-radius: 22px;
  border-top-left-radius: 22px;
  background-color: hsl(219, 30%, 7%);

  overflow: hidden;
}

.navMenu ul li {
  font-size: 0.85rem;
  position: relative;
  width: 10em;

  padding: 1em 1em;
  margin-left: calc(1em + 10vw);
  transform: skew(-15deg) !important;
  text-align: left !important;
  cursor: pointer;
  color: var(--lighter-blue);
}

@media (max-width: 420px) {
  .navMenu ul {
    width: 180%;
  }
}

@media (min-width: 35em) {
  .container {
    border: none;
  }
  .navMenu {
    width: auto;
  }
  .navMenu ul {
    flex-direction: row;
    gap: 1em;
    position: relative !important;
    bottom: 0;
    top: 0;

    transform: none !important;
    clip-path: none !important;
    background: none !important;
    width: auto !important;
    max-width: 24em;

    padding: 0;
    border-radius: 0;
    opacity: 1 !important;
  }

  .navMenu ul li {
    transform: none !important;
    opacity: 1 !important;
    padding: 0.4em 0.8em;
    width: auto;
    margin: 0;
  }

  .navMenu ul > div {
    display: none !important;
  }

  .navMenu ul li > div {
    display: none !important;
  }

  .navMenu ul li > div {
    left: 50% !important;
    top: initial !important;
    width: 75% !important;
    bottom: 0 !important;
    height: 1px !important;
    transform: skew(0) translateX(-50%) translateY(0) !important;
  }

  .navMenu button {
    display: none;
  }
}
