.container {
  position: absolute;
  top: 0;

  width: 100%;
  height: 4.5em;

  background-color: hsl(220, 22%, 9%);
  background: none;
  z-index: 100;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1em 2em;
  margin: 0 auto;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
}

.navLogo {
  width: 2em;
  height: 2em;
}

.navLogo svg {
  width: 100%;
  height: 100%;
}

.navLogo path {
  fill: #f8f8f8;
}

.navMenu {
  display: grid;
  place-items: center;
  position: relative;

  height: 100%;
  width: 60%;
}

.navMenu button {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;

  height: 4.5em;
  width: 4.5em;
  transform: translateY(-50%);
  cursor: pointer;
}

.navMenu button svg {
  width: 100%;
  height: 100%;
}

.navMenu button svg path {
  fill: #f8f8f8;
}

.navMenu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: absolute;
  bottom: 0;
  width: 130%;

  padding: 2em 0;
  transform: translateY(calc(100% + 1em)) translateX(2.5em) skewX(15deg);
  background-color: hsla(220, 32%, 9%);

}

.navMenu ul li {
  font-size: 0.85rem;
  position: relative;
  width: 10em;

  padding: 1em 1em;
  margin-left: calc(1em + 10vw);
  transform: skew(-15deg) !important;
  text-align: left !important;
  cursor: pointer;
}


@media (min-width: 35em) {
  .navMenu {
    width: auto;
  }
  .navMenu ul {
    flex-direction: row;
    gap: 1em;
    position: relative !important;
    bottom: 0;

    transform: none !important;
    clip-path: none !important;
    background: none !important;
    width: auto !important;
    max-width: 24em;

    padding: 0;
    border-radius: 0;
    opacity: 1 !important;

  }

  .navMenu ul li {
    transform: none !important;
    opacity: 1 !important;
    padding: 0.4em 0.8em;
    width: auto;
    margin: 0;
  }

  .navMenu ul > div {
    display: none;
  }

  .navMenu ul li > div {
    left: 50% !important;
    top: initial !important;
    width: 75% !important;
    bottom: 0 !important;
    height: 1px !important;
    transform: skew(0) translateX(-50%) translateY(0) !important;
    
  }

 
  .navMenu button {
    display: none;
  }
}
