.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: #101319;
}

.inner {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  align-content: start;
  gap: 1em;

  width: 100%;
  max-width: 1080px;
  height: 100%;

  margin: 0 auto;
  padding: 1em;
  padding-bottom: 3em;
  padding-top: 2em;

  position: relative;
  overflow-x: hidden;
}

.picture {
  position: relative;
  grid-column: 1 / 4;
  justify-self: start;
  align-self: end;

  height: 11em;
  width: 11em;

  margin-left: 1em;
  background: #202020;
  border-radius: 22px;
}

.picture img {
  object-fit: cover;
  border-radius: 22px;
  opacity: 0.3;
}

.infoText {
  grid-column: 1 / 5;

  display: flex;
  flex-direction: column;
  justify-self: start;

  margin-top: 0.5em;
  margin-left: 1em;
  max-width: 30em;
}

.infoText h1 {
  font-size: 3rem;
  line-height: 0.8;

  max-width: 22em;
  position: relative;
}

.infoText h4 {
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 0.9;
  letter-spacing: 0.05em;

  margin-top: 0.5em;
  color: var(--white-secondary);
}

.infoText p {
  font-size: 0.8rem;
  line-height: 1;
  max-width: 70%;
  color: var(--white-secondary);
  margin-top: 1em;
}

.socials {
  grid-column: 2 / 5;
  justify-self: end;

  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  margin-top: 1.5em;
}

.socials div {
  display: grid;
  place-items: center;
  
  width: 3em;
  height: 3em;

  border-radius: 50%;
  border: 1px solid white;
}

.location {
  position: relative;
  font-size: 0.8rem;
  grid-column: 1 / 5;

  margin-top: 1em;
}

.location:before {
  display: block;
  position: absolute;
  bottom: -50%;

  content: "";

  width: 400%;
  height: 0.5em;
  transform: skew(45deg);
  background: linear-gradient(to left, transparent, var(--green-primary));
}
