.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;
  min-height: 60vh;
  overflow: hidden;
 
}
.container:before {
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 1px;
  width: 22vw;
  transform: translateX(-50%);
  background-color: #393939;
}



.inner {
  display: grid;
  align-content: center;
  grid-auto-rows: auto;
  gap: 1em;

  height: 100%;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 2em 0.5em;

  position: relative;
}

.inner > h1 {
  padding-left: 1rem;
}

