.detailsCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25em;

  width: 100%;
  max-width: 40em;
  padding-top: 0.25em;

  margin: 0 auto;
}

.detailsCardContainer > div {
  width: 100%;
  margin: 0 auto;
}

.detailsCardContainer h2 {
  font-size: 0.9rem;
  text-transform: uppercase !important;
  letter-spacing: 0.05em;
  font-weight: lighter;

  padding-left: 1em;
  transform: skew(-15deg);
}

.detailsCardContainer p {
  font-size: 0.75rem;
  width: 100%;
  max-width: 50em;

  padding: 0.5em;
  color: var(--white-secondary);
}

.footer {
  display: flex;
  width: 100%;
  padding: 0 1em;
}

.footer > div {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  transform: skew(15deg);
  align-self: stretch;
  padding: 0 0.75em;
  border-bottom: 1px solid #bfd7de;
  border-left: 1px solid #bfd7de;
  border-bottom-left-radius: 11px;
}

.footer > div button {
  font-size: 0.75rem;
  color: var(--white-secondary);
  padding: 0.2em 0.6em;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.footer ul {
  padding: 0.5em;
  padding-left: 1.5em;
}

.footer ul li {
  font-size: 0.7rem;
  color: var(--white-secondary);
  display: inline-block;
  padding: 0.25em 0.7em;
  background-color: hsl(220, 27%, 8%);
  border: 1px solid var(--blue-primary);
  border-radius: 11px;
}

.footer ul li + li {
  margin-left: 0.5em;
}
