.detailsCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.15em;

  position: relative;
  width: 100%;
  max-width: 40em;
  padding-top: 0.25em;
  padding-bottom: 0.5em;

  margin: 0 auto;
  overflow-x: hidden;
}

.detailsCardContainer > div {
  width: 100%;
  margin: 0 auto;
}

.detailsCardContainer h2 {
  font-size: 1.1rem;
  text-transform: uppercase !important;
  letter-spacing: 0.05em;
  position: relative;
  font-weight: lighter;

  padding-left: 1em;
  transform: skew(-15deg);
}

.detailsCardContainer p {
  font-size: 0.85rem;
  width: 100%;
  max-width: 40em;

  padding: 0.5em;
  color: var(--white-secondary);
}

.footer {
  display: flex;
  width: 100%;
  padding: 0 1em;
}

.footer > div {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  transform: skew(15deg);
  align-self: stretch;
  padding: 0 0.75em;
  width: 4em;
}

.footer > div button {
  font-size: 0.85rem;
  color: #5d5d5d;
  padding: 0.2em 0.6em;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.footer ul {
  padding: 0.5em;
  padding-left: 1em;
}

.footer ul li {
  font-size: 0.7rem;
  color: var(--white-secondary);
  display: inline-block;
  padding: 0.25em 0.7em;
  background-color: var(--bg-secondary);
  border: 1px solid var(--gray-secondary);
  border-radius: 11px;
  cursor: default;
}

.footer ul li + li {
  margin-left: 0.5em;
}


@media (min-width: 35em) {
  .footer > div {
    width: 9em;
  }
}