.cardContainer {
  padding: 1em;
  position: relative;
  max-width: 16em;
}

.cardContainer > .cardTitle {
  position: relative;
  width: 100%;
  transform: skew(-15deg);
}

.cardContainer h3 {
  text-transform: capitalize;
  font-weight: lighter;
  max-width: 7em;
  letter-spacing: 0.0525em;
  position: relative;
  background: none !important;
  border: 1px solid var(--mid-blue);

  padding: 0.1em 0.75em;
  cursor: pointer;
}

.cardContainer p {
  font-size: 0.8rem;
  margin-top: 0.5em;
  color: var(--white-secondary);
}

.cardContainer:nth-child(1) {
  transform: translateX(-6vw);
}
.cardContainer:nth-child(2) {
  transform: translateX(0vw);
}
.cardContainer:nth-child(3) {
  transform: translateX(6vw);
}

@media (min-width: 35em) {
  .cardContainer {
    max-width: 20em;
  }


  
}

@media (min-width: 40em) {
  .cardsContainer {
    padding: 1em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }




  .cardContainer:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    transform: translateX(0);
  }
  .cardContainer:nth-child(2) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    transform: translateX(0);
  }
  .cardContainer:nth-child(3) {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    transform: translateX(0);
  }

  .cardTitle > div div {
    width: 100% !important;
    right: -100% !important;
  }
}
