.tagsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.5em, 1fr));
  grid-auto-rows: 1fr;
  justify-content: center;
  align-content: center;
  gap: 1em 0;

  position: relative;
  width: 95%;
  padding: 1.25em 1em;
  margin: 0 auto;
  overflow: hidden;
}

.tagContainer {
  font-size: 0.8rem;
  display: grid;
  place-items: center;
  position: relative;
  text-align: center;
  color: var(--white-secondary);

  padding: 0.4em 0.7em;
  cursor: pointer;
}

