.tagsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.5em, 1fr));
  grid-auto-rows: 1fr;
  justify-content: center;
  align-content: center;
  gap: 1em 0;

  position: relative;
  width: 95%;
  padding: 1.25em 1em;
  margin: 0 auto;
  overflow: hidden;
  /* background-color: #101319; */
  /* background-color: #0b1016; */
}

.tagContainer {
  font-size: 0.75rem;
  display: grid;
  place-items: center;
  position: relative;
  text-align: center;
  color: #d4d4d4;

  padding: 0.5em 0.8em;
  /* text-transform: uppercase; */
  cursor: pointer;
}

