.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  background-color: #0b1016;
}

.inner {
  display: grid;
  grid-auto-rows: auto;
  gap: 1em;

  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 2em 0.5em;
}

.inner > h1 {
  font-size: 1.75rem;
  padding-left: 1rem;
}

.projectsContainer {
  display: grid;
  justify-items: center;
  grid-template-rows: 45vh 0.5em auto;
  gap: 1em;

  width: 100%;
  max-width: 40em;
  margin: 0 auto;
  height: 75vh;
  min-height: 79vh;
  padding: 0 0.5em;
}
