@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
  box-sizing: border-box;
  font-size: calc(0.8em + 1vw);
  font-family: "Roboto Condensed", "Helvetica", sans-serif;

  --bg-primary: #0a0f14;
  --bg-secondary: hsl(219, 30%, 9%);

  --gray-primary: #494949;
  --gray-secondary: #303030;

  --white-primary: #ccc;
  --white-secondary: #ababab;

  --green-primary: #3aa885;

  --darker-blue: #0f2329;
  --dark-blue: #3e6b79;
  --mid-blue: hsl(194, 45%, 41%);
  --light-blue: #7cadbb;
  --lighter-blue: hsl(194, 32%, 86%);

  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  color: var(--white-primary);
  width: 100%;
  height: 100%;
  line-height: 1.1;

  background-color: #0d141c;
  overflow-x: hidden;
}

p {
  line-height: 1.2;
}

*,
::before,
::after {
  box-sizing: inherit;
}

@media (min-width: 768px) {
  :root {
    font-size: 1.2em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: lighter;
  margin: 0;
  line-height: 1;
  cursor: default;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: none;
}
