.aboutContainer {
  display: flex;
  justify-content: center;
  position: relative;

  min-height: 60vh;
  width: 100%;
  align-items: center;
  background-color: #101319;
  /* overflow: hidden; */
}

.aboutInner {
  display: grid;
  gap: 1em;
  width: 100%;
  max-width: 1080px;
  padding: 2em 0.5em;
  position: relative;
}

.aboutInner > h1 {
  padding-left: 1rem;
}

.toggleButton {
  border-radius: 50%;
  background-color: white;
  color: black;
  width: 2em;
  height: 2em;
  position: absolute;
  top: 1em;
  transform: translateY(50%);
  right: 1.5em;
  z-index: 100;
}


@media (min-width: 40em) {
  .aboutInner {
    grid-template-rows: auto auto;
  }


}
