.aboutContainer {
  display: flex;
  justify-content: center;
  position: relative;

  min-height: 60vh;
  width: 100%;
  align-items: center;
  background-color: #101319;
}

.aboutInner {
  display: grid;
  gap: 1em;
  width: 100%;
  max-width: 1080px;
  padding: 2em 0.5em;
  position: relative;
}

.aboutInner > h1 {
  font-size: 1.75rem;
  padding-left: 1rem;
}

.toggleButton {
  border-radius: 50%;
  color: black;
  width: 2.75em;
  height: 2.75em;
  position: absolute;
  display: grid;
  place-items: center;
  top: 1em;
  transform: translateY(50%);
  right: 1.5em;
  z-index: 100;
  cursor: pointer;

  outline: border;
}


.toggleButton svg {
  width: 130%;
  height: 130%;
  fill: #bfd7de;
  outline: none;

}


@media (min-width: 40em) {
  .aboutInner {
    grid-template-rows: auto auto;
  }


}
